
$primary-hover-color: #06557a;
$primary-color: #2563EB;
$title-color: #ffffff;
$bg-color: rgb(0, 0, 0);


//you can add text color to white globally in body. color=

body{
    background-color: $bg-color;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin: 0;
    padding: 0;
}

.content{
    //background-color: $hover-color ;
    max-width: 800px;
    margin:50px auto;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 0 10px $primary-color;
}

h1{
    color: $title-color;
}

h3{
    color: $title-color;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    border: 1px solid $primary-color;
    color: $title-color; // white text
  }

  th {
    background-color: $primary-hover-color; // dark header
  }
}


    a{
        display: inline-block;
        padding: 8px 16px;
        margin: 5px;
        border-radius: 20px;
        background-color: $primary-color;
        color: $title-color;
        text-decoration: none;
        transition: background-color 0.3s ease;
        
        &:hover{
            background-color: $primary-hover-color;
        }
    }

    input{
        padding: 10px;
        margin: 5px;
        border: solid 1px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        background-color: $title-color;
    }
    
    #btn_add{
        background-color: $primary-color;
        color: $title-color;
        cursor: pointer;


        &:hover{
            background-color: $primary-hover-color;
        }
    }